<h3>Users</h3>

<hr/>

<table class="table">
<thead>
	<tr>
		<td><b>
			nick
		</b></td>
		<td><b>
			admin
		</b></td>
		<td><% if current_admin %><b>
			commands
		</b><% end %></td>
		<td></td>
	</tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.nick %></td>
    <td>
		<% if user.admin %>
			<%= image_tag("key.jpg", :alt => "admin", :class =>"img-circle") %>
		<% end %>
	</td>
	<% if current_admin %>
		<td>
			<table><tr><td>
				<%= button_to 'edit', edit_user_path(user), :method => 'get', :class => 'btn btn-small' %></td>
				<% if current_user != user %>
				<td>
					<%= button_to 'destroy', user, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-small' %>
				</td><% end %></tr></table>
		</td>
	<% end %>
  </tr>
<% end %>
<% if current_admin %>
  <tr>
	<td/><td/>
	<td>
		<%= button_to 'New admin', new_user_path, :method => 'get', :class => 'btn btn-small btn-primary' %>
	</td>
  </tr>
<% end %>
</tbody>
</table>
