<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
		<meta name="description" content="blog">
		<meta name="author" content="kjuik">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		
		<header class="navbar navbar-fixed-top">
		  <nav class="navbar-inner">
			<table width="100%">
				<tr>
					<td>
						<div class="container">
						  <%= render 'layouts/logging' %>
						</div>
					</td>
					<td>
						<%= render 'layouts/facebook' %>
					</td>
				</tr>
			</table>
		  </nav>
		</header>
		
		<%if notice != nil %>
			<div class="well">
				<center><%= notice %></center>
			</div>
		<% end %>
		
		<div class="tabbable tabs-left">
			<%= render 'layouts/navigation' %>
			<div class="tab-content well">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
